.alert {
  background-color: #e430306e;
  font-weight: bold;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 18px;
  padding: 12px 25px 12px 24px;

}

.alert-success {
  background-color: #30e44e6e;
  font-weight: bold;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 18px;
  padding: 12px 25px 12px 24px;
}

.navbar-inverse{
  background-color:#e8ffff;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navlock{
  background-color:#e8ffff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.full-width {
  width: 96vw;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 200px;
  overflow: scroll;
}

.styled-table thead {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


.button {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  width: min(20vw,150px);
}

.button:hover {
  background-color: #71b5cc; /* Blue */
  color: white;
}

.button2 {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s
}

.button2:hover {
  background-color: #f37a72; /* Red */
  color: white;
}

.button3 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s
}

.button3:hover {
  background-color: #8ab68b; /* Green */
  color: white;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.row {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: min(90vw,600px);
}