<div>
  <div>
    <h1>
      About me
    </h1>
  </div>
</div>

<div class="card">
  <div class="card-header">
    What is a 1031 Exchange?
  </div>
  <div class="card-body">
    <p class="card-text">A 1031 exchange gets its name from Section 1031 of the U.S. Internal Revenue Code, which allows you to avoid paying capital gains taxes when you sell an investment property and reinvest the proceeds from the sale within certain time limits in a property or properties of like kind and equal or greater value.</p>
    <a href="https://www.cwscapital.com/what-is-a-1031-exchange/#:~:text=A%201031%20exchange%20gets%20its,and%20equal%20or%20greater%20value." class="btn btn-primary">Learn more...</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    How do I find a property to utilize this tax break?
  </div>
  <div class="card-body">
    <p class="card-text">Post the criteria of what you're looking for! Sellers will contact you if they have properties that meet your requirements.</p>
  </div>
</div>
