<h1>Sign in</h1>

<form action="/user_verify_credentials" method="post">
<div class="row">
  <div class="col">
    <label for="email_box"></label>
    <input class="form-control" placeholder="Email" id="email_box" name="query_email" type="text">
  </div>
  <div class="col">
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="password_box"></label>
    <input class="form-control" placeholder="Password" id="password_box" name="query_password" type="password">
  </div>
  <div class="col">
  </div>
  </div>

  <button class="btn btn-primary">
    Sign in
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_up">Sign up</a> instead.
</p>
