<h1>Sign up</h1>

<form action="/insert_user" method="post">

  <div class="row">
  <div class="col">
    <label for="email_box"></label>
    <input class="form-control" placeholder="Email" id="email_box" name="query_email" type="text">
  </div>

  <div class="col">
    <label for="name_box"></label>
      
    <input class="form-control" placeholder="Full name" type="text" id="name_box" name="query_name">
  </div>

  </div>

  <div class="row">
  <div class="col">
    <label for="password_box"></label>
    <input class="form-control" placeholder="Password" id="password_box" name="query_password" type="password">
  </div>

  <div class="col">
    <label for="company_name_box"></label>
      
    <input class="form-control" placeholder="Company name" type="text" id="company_name_box" name="query_company_name">
  </div>

  </div>

  <div class="row">
  <div class="col">
    <label for="password_confirmation_box"></label>
    <input class="form-control" placeholder="Confirm password" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>
         
         
  <div class="col">
    <label for="phone_number_box"></label>
      
    <input class="form-control" placeholder="Phone number" type="text" id="phone_number_box" name="query_phone_number">
  </div>

  </div>
  
  <div class="row">
  <div class="col">
  </div>
  <div class="col">
    <label for="role_box"></label>
      
    <input class="form-control" placeholder="Role" type="text" id="role_box" name="query_role">
  </div>
  
  </div>
  

  <button class="btn btn-primary">
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
